input {
    keyboard {
        xkb {
            options "caps:escape"
        }

        numlock
        repeat-delay 250
        repeat-rate  25
    }

    touchpad {
        tap
        natural-scroll
        scroll-factor horizontal=1.0 vertical=0.5
        click-method "clickfinger"
    }

    mouse {
        accel-speed -0.5
        natural-scroll
        scroll-factor 1.5
    }

    trackpoint {
    }

    tablet {
        map-to-output "eDP-1"
    }
}
